<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- react dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

    <!-- page-specific js block-->
    {% block js %}
    {% endblock %}

    <link href="/styles/index.css" rel="stylesheet">

</head>

<body>
    <!-- page's content block -->
    {% block body %}
    {% endblock %}

</body>

</html>