<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<!-- <h2>artist item form:</h2>
<label>Image </label> <br> -->

<section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">

            <h2> Add item: </h2>
            <img class="img-fluid w-50 d-none d-sm-block" src="img/showcase.svg" alt="" />
        </div>
    </div>
</section>

<br><br>


<div class="container">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="cartData">
            <h3>New item details:</h3>
            <ul>
                <br>
                <section>
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="" class="img-fluid rounded-start" alt="">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">


                                <!-- send post request to server to create new item and update database when added -->
                                <form action='/add-item' method="POST">

                                    <!-- item attributes -->
                                    <label>Item description </label> <br> <input type="text" name="description" required
                                        minlength='1' maxlength='50'><br>
                                    <label>Item dimensions </label> <br> <input type="text" name="dimensions" required
                                        minlength='1' maxlength='10'><br>
                                    <label>Item price</label> <br> <input type="text" name="price" required
                                        minlength='4' maxlength='10'> <br>
                                    <label>Item date</label> <br> <input type="date" name="date"> <br>
                                    <label>Item color</label> <br> <input type="color" name="color"> <br>

                                    <!-- upload widget button -->
                                    <button id="upload_widget" class="cloudinary-button">
                                        Upload files
                                    </button> <br>

                                    <!-- placeholder for uploaded image using the thumbnail url attribute -->
                                    <img id="uploadedimage" src="">
                                    </img>


                                    <!-- add hidden field since it will be populated when an image is added so that I can send the url as part of the form  -->
                                    <input type="hidden" name="picture_path" id="picture_path_id" value=""> <br>

                                    <input type="submit">

                                </form>

                                {% for message in get_flashed_messages() %}
                                <div class="flash">{{ message }}</div>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </section>
        </div>

        </ul>
    </div>







    <!-- home button -->
    <br>
    <button type='button'>
        <a href="/ ">home</a>
    </button>

    <!-- logout button -->
    <form action="/" method="POST">
        <input type="submit" value="logout" name="logout" />
    </form>

    <!-- cloudinary upload widget -->
    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">
    </script>

    <!-- local upload instantiation -->
    <script src="/static/js/cloudinary_upload_widget.js" type="text/javascript">
    </script>


    {% endblock %}