<form action=""></form><!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<h2>artist item form:</h2>
<form action='/addItem' method="POST">


    <label>Item description </label> <br> <input type="text" name="description" required minlength='1'
        maxlength='50'><br>
    <label>Item dimensions </label> <br> <input type="text" name="dimensions" required minlength='1' maxlength='10'><br>
    <label>Item price</label> <br> <input type="text" name="price" required minlength='4' maxlength='10'> <br>
    <label>Item date</label> <br> <input type="date" name="date"> <br>
    <label>Item color</label> <br> <input type="color" name="color"> <br>
    <label>Item in_stock</label> <br> <input type="radio" name="in_stock"> <br>
    <label>Item image</label> <br> <input type="file" name="image" alt="load image"> <br>
    <input type="submit">

</form>
<!-- add home button -->
<button type='button'>
    <a href="/ ">home</a>
</button>

<!-- logout button -->
<form action="/" method="POST">
    <input type="submit" value="logout" name="logout" />
</form>
{% endblock %}