<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h2> welcome artist: {{ artist.fname + ' ' + artist.lname }}</h2>
            <!-- <img class="img-fluid w-50 d-none d-sm-block" src="img/showcase.svg" alt="" /> -->
        </div>
    </div>
</section>

<br><br>

<div class="container">
    <div class="card mb-3 cartData" style="max-width: 540px;">
        <div class="cardData">
            <h3>Account Details:</h3>
            <section class="p-5">
                <div class="col-md">
                    <!-- <img src="/static/data/img/FullSizeRender.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <p>Artist ID: # {{ artist.artist_id }}</p>
                        <p>First name: {{ artist.fname }}</p>
                        <p>Last name: {{ artist.lname }}</p>
                        <p>Email: {{ artist.email }}</p>
                        <p>Country: {{ artist.country }}</p>
                        <p>Alias: {{ artist.alias }}</p>
                        <br>
                    </div>
            </section>
        </div>
    </div>
</div>


<div class="container">
    <div class="card mb-3 cartData" style="max-width: 540px;">
        <div class="cardData">
            <h3>Orders: </h3>
            {% for order in artist.order %}
            <section class="p-5">
                <div class="col-md">
                    <!-- <img src="/static/data/img/FullSizeRender.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <p> Order Number: # {{ order.order_id }}</p>
                        <p> Status: {{ order.status}}</p>
                        <p> Date Ordered: {{ order.date }}</p>
                        <p> Total: $ {{ order.total}}</p>
                        <p> First Name: {{ order.fname }}</p>
                        <p> Last Name: {{ order.lname }}</p>
                        <p> Email: {{ order.email }}</p>
                        <p> Phone: {{ order.phone}}</p>
                        <p> City: {{ order.city}}</p>
                        <p> State: {{ order.state }}</p>
                        <p> Zipcode: {{ order.zipcode }}</p>
                        <p> Country: {{ order.country}}</p>

                        <br>
                        <select class="statusOptions" id="{{ 'status' + '_' + (order.order_id) | string }}"
                            placeholder="status">
                            <option name='order received' value='order received' {%
                            if
                            order.status=='order received'
                            %}selected{%
                            endif
                            %}>order
                                received</option>
                            <option name='preparing' value='preparing' {%
                            if
                            order.status=='preparing'
                            %}selected{%
                            endif
                            %}>
                                preparing
                            </option>
                            <option name='on the way' value='on the way' {%
                            if
                            order.status=='on the way'
                            %}selected{%
                            endif
                            %}>on
                                the
                                way</option>
                            <option name='sent' value='sent' {%
                            if
                            order.status=='sent'
                            %}selected{%
                            endif
                            %}>sent</option>
                            <option name='delayed' value='delayed' {%
                            if
                            order.status=='delayed'
                            %}selected{%
                            endif
                            %}>delayed
                            </option>
                            <option name='delivered' value='delivered' {%
                            if
                            order.status=='delivered'
                            %}selected{%
                            endif
                            %}>
                                delivered
                            </option>
                        </select>
                        <button class="statusButton btn btn-light"
                            id="{{'statusButton' + '_' + (order.order_id) | string}}" type="button">update
                            status</button>
                        <hr>
                    </div>
            </section>
            {% endfor %}
        </div>
    </div>
</div>


<!-- add artist full name and details-->


<div class="container">
    <div class="card mb-3 cartData" style="max-width: 540px;">
        <div class="cardData">
            <h3>My Art:</h3>
            {% for item in artist.item %}
            <section class="p-5">
                <div class="col-md">
                    <img src="{{ item.picture_path }}" class="img-fluid rounded-start img-align" alt="">
                    <!-- <img src="/static/data/img/FullSizeRender.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <p>Item ID: {{item.item_id}}</p>
                        <!-- <h4>item description: {{item.description}}</h4> -->
                        <p>Price: $ {{item.price}}</p>

                        {% if not item.order_id %}
                        <button class="removeItemButton btn btn-light"
                            id="{{'removeItemButton' + '_' + (item.item_id) | string}}" type="button">remove
                            item</button>
                        {% else %}
                        <p> Order Number: # {{item.order_id}}</p>
                        {% endif %}
                    </div>
            </section>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container3">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="cartData">
            {% for item in artist.item %}
            <br>
            <section>
                <div class="row g-0">
                    <div class="col-md-6">
                        <img src="{{ item.picture_path }}" class="img-fluid rounded-start img-align" alt="">
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <h4>item id: {{item.item_id}}</h4>
                            <!-- <h4>item description: {{item.description}}</h4> -->
                            <h4>price: {{item.price}}</h4>
                            <!-- <img src="{{ item.picture_path }}" alt=""> -->

                            {% if not item.order_id %}
                            <button class="removeItemButton btn btn-light"
                                id="{{'removeItemButton' + '_' + (item.item_id) | string}}" type="button">remove
                                item</button>
                            {% else %}
                            <h4>order: {{item.order_id}}</h4>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            {% endfor %}
        </div>
    </div>
</div>

<!-- summary of items that tie back to the artist -->

<!-- new item button -->
<button type="'button" class="btn btn-light">
    <a href="/add-item">add new</a>
</button> <br> <br>

<!-- logout button -->
<form action="/" method="POST">
    <input type="submit" class="btn btn-light" value="logout" name="logout" />
</form>

<!-- Ajax file -->
<script src="/static/js/ajax.js"></script>

{% endblock %}