<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<!-- add artists full name   -->
<h1> {{ artist.fname + ' ' + artist.lname }}</h1>

<!-- add about the artist -->
<p>{{ artist.about }}</p>

<!-- TODO: create favorite items button -->
{% for item in artist.item %}

<label for="button">Item n. {{ item.item_id }}</label> <br> <br>

{% endfor %}

<!-- TODO: create favorite items button logic -->

<button type="button" class='itemLikeButton'>🖤</button> <br>

<!-- TODO: create add to cart button  -->
<button type="button" id='addToCart'>add to cart</button>


<!-- add home button -->
<button type='button'>
    <a href="/ ">home</a>
</button>

<!-- add dynamic login button -->
<button type='button'>
    <a href="{{ login_button['route'] }}">{{ login_button['label'] }}</a>
</button>


<!-- TODO: add ajax -->
<!-- Ajax file -->
<!-- <script src="ajax.js"></script> -->

{% endblock %}