<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<h2>cart</h2>

<div class="cartData">
    {% for artist_id in cart_data %}
    <h2>artist {{ artist_id }}</h2>
    <ul>
        {% for item in cart_data[artist_id] %}
        <li> {{ item }}</li>

        <button type="button" class="removeItemButton"
            id="{{'buttonRemoveItem' + '_' + (item.item_id) | string}}">remove
            item</button>
        {% endfor %}
    </ul>
    {% endfor %}

</div>

<!-- proceed to checkout -->
<button type='button'> <a href='/shipping'>proceed to checkout</a> </button>
<br><br>

<!-- add login button -->
<button type='button'>
    <a href="{{ login_button['route'] }}">{{ login_button['label'] }}</a>
</button>

<!-- add home button-->
<button type='button'> <a href="/">home</a>

</button>


<!-- Ajax file -->
<script src="/static/js/ajax.js"></script>

{% endblock %}