<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}


<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">Create an Account</h1>
</div>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="mt-4">
                <div class="card pb-4">
                    <div class="card-body">
                        <!-- send post request to server to create new item and update database when added -->
                        <form action='/profile' method="POST" class="row g-3">
                            <div class="col-md-6">
                                <label for="inputFname" class="form-label">First name *</label>
                                <input type="text" class="form-control" id="inputFname" name="fname" required
                                    minlength='1' maxlength='50'>
                            </div>
                            <div class="col-md-6">
                                <label for="inputLname" class="form-label">Last name *</label>
                                <input type="text" class="form-control" id="inputLname" name="lname" required
                                    minlength='1' maxlength='50'>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPhone" class="form-label">Phone *</label>
                                <input type="text" class="form-control" id="inputPhone" placeholder="123-456-7890"
                                    name="phone" required minlength='1' maxlength='50'>
                            </div>
                            <div class="md-6">
                                <label for="email" class="form-label">Email * </label>
                                <input type="email" class="form-control" id="emaillog" placeholder="jsmith@gmail.com"
                                    name="email" required minlength='1' maxlength='50'>
                            </div>
                            <div class="md-6">
                                <label for="password" class="form-label">Password * </label>
                                <input type="password" class="form-control" id="passwordlog"
                                    placeholder=" 8-12 characters" name="password" required minlength='1'>
                            </div>
                            <div class="col-12">
                                <!-- add hidden field since it will be populated when an image is added so that I can send the url as part of the form  -->
                                <input type="hidden" name="picture_path" id="picture_path_id" value=""> <br>
                                <button type="button" class="customButton btn btn-light"><a href="/login">back</a>
                                </button>
                                <input type="submit" class="customButton btn btn-light">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}