<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}


<section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h2>Create an Account</h2>

            <img class="img-fluid w-50 d-none d-sm-block" src="img/showcase.svg" alt="" />
        </div>
    </div>
</section>



<!-- send post request to server to create new user account and update database -->
<form action="/profile" method="POST">

    <!-- customer attributes -->
    <label>First name </label> <br> <input type="text" name="fname" required minlength='1' maxlength='50'> <br>
    <label>Last name </label> <br> <input type="text" name="lname" required minlength='1' maxlength='50'> <br>
    <label>Email</label> <br> <input type="email" name="email" required minlength='4' maxlength='50'> <br>
    <label>Phone</label> <br><input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required minlength='1'
        maxlength='20'>
    <small>Format: 123-456-7890</small> <br>
    <label>Password</label> <br><input type="password" name="password" required minlength='8' maxlength='12'><small>
        Format: 8 to 12
        characters</small> <br>
    <input type="submit">

</form>

{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<!-- add home button -->
<button type='button'>
    <a href="/ ">home</a>
</button>

{% endblock %}