<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}
<h1> welcome customer: {{ customer.fname + ' ' + customer.lname }}</h1>
<h3>customer details:</h3>
<p>{{ customer }}</p>

<h3>order history:</h3>
{% for order in customer.order %}
<p> customer orders {{ order }}</p>
{% endfor %}

{% for favitem in customer.favitem %}
<p>customer favorite items {{ favitem }} </p>
{% endfor %}

{% for favartist in customer.favartist %}
<p>customer favorite artist {{ favartist }} </p>
{% endfor %}


<!-- add home button -->
<button type='button'>

    <a href="/ ">home</a>

</button>


<!-- add login button -->
<button type='button'>

    <a href='/cart'>cart</a>

</button>

<form action="/" method="POST">
    <input type="submit" value="logout" name="logout" />
    <input type="submit" value="delete account" name="delete_account" />
</form>


{% endblock %}