<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}


<section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h1> welcome customer: {{ customer.fname + ' ' + customer.lname }}</h1>
            <!-- <img class="img-fluid w-50 d-none d-sm-block" src="img/showcase.svg" alt="" /> -->
        </div>
    </div>
</section>

<br><br>


<div class="container">
    <div class="card mb-3 cartData" style="max-width: 540px;">
        <div class="cardData">
            <h3>Account Details:</h3>
            <section class="p-5">
                <div class="col-md">
                    <!-- <img src="/static/data/img/FullSizeRender.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <p>First Name: {{ customer.fname }}</p>
                        <p>Last Name: {{ customer.lname }}</p>
                        <p>Email: {{ customer.email }}</p>
                        <p>Phone: {{ customer.phone }}</p>
                        <br>
                    </div>
            </section>
        </div>
    </div>
</div>

<div class="container">
    <div class="card mb-3 cartData" style="max-width: 540px;">
        <div class="cardData">
            <h3>Order History:</h3>
            {% for order in customer.order %}
            <section class="p-5">
                <div class="col-md">
                    <!-- <img src="/static/data/img/FullSizeRender.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <p>Order Number: # {{ order.order_id }} </p>
                        <p> Date Ordered: {{ order.date }}</p>
                        <p> Total: $ {{ order.total }}</p>
                        <p> Status: {{ order.status }}</p>
                        <br>
                    </div>
            </section>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="card mb-3 cartData" style="max-width: 540px;">
        <div class="cardData">
            <h3>Favorite Artists:</h3>
            {% for favartist in customer.favartist %}
            <section class="p-5">
                <div class="col-md">
                    <!-- <img src="/static/data/img/FullSizeRender.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <p>Artist: {{ favartist.artist.fname }} {{ favartist.artist.lname }}</p>
                        <a href="{{ url_for('gallery', alias = favartist.artist.alias) }}"><img
                                src="{{ favartist.artist.profile_pic }}" class="card-img-top"></a>
                        <br>
                    </div>
            </section>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="card mb-3 cartData" style="max-width: 540px;">
        <div class="cardData">
            <h3>Liked Items:</h3>
            {% for favitem in customer.favitem %}
            <section class="p-5">
                <div class="col-md">
                    <!-- <img src="/static/data/img/FullSizeRender.jpg" class="card-img-top" alt="..."> -->
                    <div class="card-body">
                        <p>Item ID: {{ favitem.item.item_id }}</p>
                        <p>Artist: {{ favitem.item.artist.fname }} {{ favitem.item.artist.lname }}</p>
                        <img src="{{ favitem.item.picture_path }}" class="card-img-top">
                        <br>
                    </div>
            </section>
            <hr>
            {% endfor %}
        </div>
    </div>
</div>





<!-- logout and delete account buttons -->
<form action="/" method="POST">
    <input type="submit" class="btn btn-light" value="logout" name="logout" />
    <input type="submit" class="btn btn-light" value="delete account" name="delete_account" />
</form>


{% endblock %}