<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}


<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">Welcome {{ customer.fname + ' ' + customer.lname }}</h2>
</div>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-9">
            <div class="mb-3">
                <div class="card">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="mt-4">
                                <h2>Account Details</h2>
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="card topBorderCard pt-4 px-0">
                                            <ul>
                                                <li> <b>First Name: </b>{{
                                                    customer.fname
                                                    }}
                                                </li>
                                                <li> <b>Last Name: </b>{{
                                                    customer.lname
                                                    }}
                                                </li>
                                                <li> <b>Email: </b>{{
                                                    customer.email
                                                    }}
                                                </li>
                                                <li> <b>Phone Number: </b>{{ customer.phone }}
                                                </li>
                                                <br>
                                                <li>
                                                    <form action="/" method="POST">
                                                        <input type="submit" class="btn btn-light customButton"
                                                            value="delete account" name="delete_account" />
                                                    </form>
                                                    <form action="/" method="POST">
                                                        <input type="submit" class="btn btn-light customButton"
                                                            value="logout" name="logout" />
                                                    </form>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="mt-4">
                                <h2>Past Orders</h2>
                                {% for order in customer.order %}
                                <div class="mb-4">
                                    <div class="row">
                                        <div class="card topBorderCard pt-4 px-0">
                                            <ul>
                                                <li> <b>Order Number: </b>{{
                                                    order.order_id
                                                    }}
                                                </li>
                                                <li> <b>Artist: </b>{{
                                                    order.artist.fname + ' ' +
                                                    order.artist.lname
                                                    }}
                                                </li>
                                                <li> <b>Date: </b>{{
                                                    order.date.strftime('%Y-%m-%d')
                                                    }}
                                                </li>
                                                <li> <b>Status: </b>{{ order.status }}</li>
                                                <li> <b>Total Order (including Tax): </b>${{
                                                    order.total
                                                    }}
                                                </li>
                                            </ul>
                                        </div>
                                        {% for item in order.item %}
                                        <div class="card noBordersCard">
                                            <div class="row g-0">
                                                <div class="col-md-3">
                                                    <img src="{{ item.picture_path }}" class="card-img-top-thumbnail"
                                                        style="padding-bottom: 1px;">
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="card-body">
                                                        <ul>
                                                            <li> <b>Item Price: </b>${{
                                                                item.price
                                                                }}
                                                            </li>
                                                            <li> <b>Color: </b> {{ item.color }}
                                                            </li>
                                                            <li> <b>Item ID: </b> {{
                                                                item.item_id}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="mt-4">
                                <h2>Liked Items</h2>
                                {% for favitem in customer.favitem %}
                                <div class="mb-4">
                                    <div class="card topBorderCard pt-4 px-0">
                                        <div class="row g-0">
                                            <div class="col-md-3">
                                                <img src="{{ favitem.item.picture_path }}"
                                                    class="card-img-top-thumbnail" style="padding-bottom: 1px;">
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <ul>
                                                        <li> <b>Artist: </b>{{
                                                            favitem.item.artist.fname
                                                            + ' ' + favitem.item.artist.lname
                                                            }}
                                                        </li>
                                                        <li> <b>Item Price: </b>${{
                                                            favitem.item.price
                                                            }}
                                                        </li>
                                                        <li> <b>Color: </b> {{
                                                            favitem.item.color }}
                                                        </li>
                                                        <li> <b>Item ID: </b> {{
                                                            favitem.item.item_id}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <div class="card">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div class="mt-4">
                                <h2>Liked Artists</h2>
                                {% for favartist in customer.favartist %}
                                <div class="mb-4">
                                    <div class="card  topBorderCard pt-4 px-0">
                                        <div class="row g-0">
                                            <div class="col-md-3">
                                                <a href="{{ url_for('gallery', alias = favartist.artist.alias) }}"><img
                                                        src="{{ favartist.artist.profile_pic }}"
                                                        class="card-img-top-thumbnail" style="padding-bottom: 1px;"></a>
                                            </div>
                                            <div class="col-md-8">
                                                <div class="card-body">
                                                    <ul>
                                                        <li> <b>Name: </b> {{
                                                            favartist.artist.fname + ' ' +
                                                            favartist.artist.lname}}
                                                        </li>
                                                        <li> <b>Alias: </b> {{
                                                            favartist.artist.alias}}
                                                        </li>
                                                        <li> <b>Country of Origin: </b> {{
                                                            favartist.artist.country}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}