<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}
<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">{{ artist.fname + ' ' + artist.lname }}</h1>
</div>


<div class="container pt-5">
    <h3>About me</h3>
    <p class="lead my-4">{{ artist.about }}</p>
    <button type="button" id='{{"buttonArtistLike" + "_" + (artist.artist_id) | string}}'
        class='artistLikeButton customButton btn btn-light'>{{
        button_favartist_label[artist.artist_id] }}</button>
</div>


<div class="container pt-5">
    <div class="row row-cols-1 row-cols-lg-3">
        {% for item in artist.item %}
        {% if item.in_stock %}
        <div class="mb-4">
            <div class="card pt-4 px-4">
                <img class="card-img-top" src="{{ item.picture_path }}">
                <div class="card-body">

                    <p><b>Price: </b>${{item.price}}</p>
                    <p><b>Color: </b>{{item.color}}</p>
                    <p><b>Item ID: </b>{{item.item_id}}</p>
                    <p><b>Dimensions: </b>{{item.dimensions}}"</p>
                    <p><b>Description: </b>{{item.description}}</p>

                    <button type="button" id='{{ "buttonCart" + "_" + (item.item_id) | string }}'
                        class="itemCartButton customButton btn btn-light">{{
                        button_cart_label[item.item_id] }}</button>

                    <button type="button" id='{{ "buttonLike" + "_" + (item.item_id) | string }}'
                        class='itemLikeButton customButton btn btn-light'>{{
                        button_like_label[item.item_id] }}</button>

                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<script src="/static/js/ajax.js"></script>

{% endblock %}