<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<!-- add artists full name and about   -->
<h2> Artist gallery: {{ artist.fname + ' ' + artist.lname }}</h2>
<h3>about the artist: </h3>
<p>{{ artist.about }}</p>


<!-- add artist items to gallery (images) -->
{% for item in artist.item %}
<div>
    <img src="{{ item.picture_path }}" alt="">
    <!-- TODO: create favorite items button -->
    <!-- TODO: create favorite items button logic -->

    <button type="button" id='{{ "buttonLike" + "_" + (item.item_id) | string}}' class='itemLikeButton'>heart
        {{ button_label_dict[item.item_id] }}</button>
    <br>

</div>
{% endfor %}

<!-- TODO: cart button + need to add logic -->
<button type="button" id='addToCart'>add to cart</button>

<!-- Ajax file -->
<script src="/static/js/ajax.js"></script>

<!-- add home button -->
<button type='button'>
    <a href="/ ">home</a>
</button>

<!-- add dynamic login button that changes from login to profile-->
<button type='button'>
    <a href="{{ login_button['route'] }}">{{ login_button['label'] }}</a>
</button>

{% endblock %}