<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}
<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">Galleria Milena</h1>
</div>

<div class="container pt-5">
    <div class="row row-cols-1 row-cols-lg-3">
        {% for artist in artists %}
        <div class="mb-4">
            <div class="card pt-4 px-4 cardHover">
                <a href="{{ url_for('gallery', alias = artist.alias) }}"><img src="{{ artist.profile_pic }}"
                        class="card-img-top img-fluid w-100"></a>
                <div class="card-body">
                    <h5 class="cart-title text-center"> {{ artist.fname + ' ' + artist.lname
                        }}
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="/static/js/ajax.js"></script>
{% endblock %}