<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<!-- loop through artists  -->
{% for artist in artists%}
<div class="artist">

    <!-- add button for each artist -->
    <button type='button'>

        <!-- add customize url for each artist using alias and pass information to inner html -->
        <a href="{{ url_for('gallery', alias = artist.alias) }}">{{ artist.fname + ' ' + artist.lname  }}</a>

    </button>

</div>
{% endfor %}

<!-- add login button -->
<button type='button'>

    <!-- add customize url for each artist using alias and pass information to inner html -->
    <a href='/login'>login</a>

</button>

<!-- add cart button-->
<button type='button'>

    <!-- add customize url for each artist using alias and pass information to inner html -->
    <a href='/cart'>cart</a>

</button>

{% endblock %}