<!DOCTYPE html>
<html>

<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Galleria Milena</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300&family=Work+Sans:wght@100;300;400&display=swap"
        rel="stylesheet">

    <!-- STYLING  -->
    <link href="/static/styles/index.css" rel="stylesheet">

</head>

<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 navbar-fixed-left">
        <div class="container d-flex flex-column">
            <div class="text-end">
                <a href="/" class="navbar-brand">
                    <div>Galleria Milena</div>
                </a>
                <ul class="navbar-nav ms-auto flex-column">
                    <li class="nav-item">
                        <a href="/" class="nav-link">home</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="bg-light text-dark py-sm-5 topbar">
        <h1 class="mainHeading">Sandra Novi</h1>
    </div>

    <!-- ABOUT ME -->
    <div class="introContainer">
        <div class="container pt-5">
            <div class="row row-cols-1 row-cols-lg-1">
                <div class="row g-5">
                    <div class="col-md-4">
                        <img class="card-img-top img-fluid w-100" src="/static/styles/img/introPic.png">
                    </div>
                    <div class="col-md-8">
                        <div class="introTextContaienr card-body">
                            <br><br><br><br><br>
                            <p><b>Email:</b> sandramilenanovi@gmail.com</p>
                            <p><b>Linkedin: </b>www.linkedin.com/in/sandramilenan</p>
                            <p><b>GitHub:</b> https://github.com/sandritaa/galleriamilena</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>