<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}


<section class="bg-light text-dark p-5 p-lg-0 pt-lg-5 text-center text-sm-start">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <h2>login</h2>

            <!-- <img class="img-fluid w-50 d-none d-sm-block" src="img/showcase.svg" alt="" /> -->
        </div>
    </div>
</section>



<!-- login form -->
<div class="login">
    <div class="modal-body">
        <p class="lead">Please login</p>
        <form action="/login">
            <div class="mb-3">
                <label for="email" class="col-form-label">
                    Email
                </label>
                <input type="email" class="form-control" id="email" name="email" required />
            </div>
            <div class="mb-3">
                <label for="password" class="col-form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required />
            </div>
            <input type='submit' class="btn btn-light">
        </form>
        <br>
        <!-- add create account button-->
        <button type='button' class="btn btn-light">
            <a href='/profile'>not a member yet? create an account!</a>
    </div>
</div>

{% endblock %}