<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<h2>login</h2>

<!-- login form -->
<div class="login">
    <form action="/login">
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email"><br>
        <label for="password">Password</label><br>
        <input type="text" id="password" name="password"><br>
        <input type='submit'></input>
    </form>
</div>

<!-- add create account button-->
<button type='button'>
    <a href='/profile'>not a member yet? create an account!</a>
</button>

<!-- add home button -->
<button type='button'>
    <a href='/ '>home</a>
</button>

<!-- add cart button-->
<button type='button'>
    <a href='/cart'>cart</a>
</button>

{% endblock %}