<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">Order Confirmation</h2>
</div>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-7">
            <div class="card bottomBorderCard">
                <div class="row no-gutters justify-content-start">
                    <div class="card-body">
                        <h5>Thank you for your order! 🎉</h5>
                        <p>Here is your order number(s):</p>
                        <ul>
                            {% for order in orders%}
                            <li><b> Order number: </b>{{ order.order_id }}</li>
                            {% endfor %}
                        </ul>
                        <p>We will be in touch via email for updates on the status of your order(s)
                        </p>
                        <button type='button' class="homeButton btn btn-light customButton"> <a href='/'>Home</a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}