<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}
<h2>review your order</h2>

<div class="orderReview">
    {% for artist_id in order_data %}
    <ul>
        <h2>artist {{ artist_id }}</h2>
        {% for item in order_data[artist_id] %}
        <li> {{ item }}
        </li>
        {% endfor %}
    </ul>
    <p>Order subtotal is: {{ cost_data[artist_id] }}</p>
    <p>Tax: {{ tax_data[artist_id] }}</p>
    {% endfor %}
    <p>Total of order is: {{ total_cost }}</p>

</div>

<button type="button"><a href="/orderComplete">place order</a> </button>


{% endblock %}