<!-- inherit from base.html -->
{% extends 'base.html' %}

<!-- insert content block -->
{% block body %}

<div class="bg-light text-dark py-sm-5 topbar">
    <h1 class="mainHeading">Review your order</h2>
</div>

<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-7">
            {% for artist_id in order_data %}
            <div class="mt-4">
                <div class="card bottomBorderCard pb-4">
                    <h5>Sold by {{ order_data[artist_id][0].artist.fname + ' ' +
                        order_data[artist_id][0].artist.lname }}
                    </h5>
                    {% for item in order_data[artist_id] %}
                    <div class="card noBordersCard">
                        <div class="row g-0 justify-content-start">
                            <div class="col-md-5">
                                <img src="{{ item.picture_path }}" class="card-img-top" style="padding-bottom: 10px;">
                            </div>
                            <div class="col-md-5">
                                <div class="card-body">
                                    <ul>
                                        <li> <b>Price: </b>${{ item.price }}</li>
                                        <li> <b>Color: </b> {{ item.color }}</li>
                                        <li> <b>Item ID: </b> {{ item.item_id}}</li>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="card noBordersCard pt-0">
                        <p class="card-text"> <b>Tax: </b>${{ tax_data[artist_id] }}</p>
                        <p class="card-text"> <b>Subtotal: </b>${{ cost_data[artist_id] }}</p>
                    </div>
                </div>
            </div>

            {% endfor %}
            <div class="card bottomBorderCard">
                <div class="row no-gutters justify-content-start">
                    <div class="card-body">
                        <p><b>Items Subtotal: </b> ${{ total_items }}</p>
                        <p><b>Total Taxes: </b> ${{ total_tax }}</p>
                        <p><b>Order Total: </b> ${{ total_cost }}</p>
                        <p><i> * Free shipping</i></p>
                        <button type='button' class="shippingButton btn btn-light customButton"> <a
                                href='/order_complete'>Place your order</a>
                        </button>

                    </div>
                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
</div>



{% endblock %}