/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

h3,
h5 {
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Roboto Flex', sans-serif; */
  font-family: 'Work Sans', sans-serif;

  /* font-family: 'Roboto', sans-serif; */
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
}

.aboutArtist {
  font-size: 18px;
}

.bodyContent {
  padding-left: 200px;
}

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  margin-right: 0px;
}

.navbar a:active,
.navbar a:hover {
  text-decoration: underline;
}

.navbar-brand {
  font-family: 'Work Sans', sans-serif;
  font-weight: light 300;
  text-transform: uppercase;
}

.nav-item {
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  color: black;
  text-transform: uppercase;
}

.nav-link.active {
  font-weight: 400;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
}

.mainHeading {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.topbar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-img-top-thumbnail {
  width: 100%;
  height: 6vw;
  object-fit: cover;
}

@media (max-width: 992px) {
  .card-img-top {
    width: 100%;
    height: 80vw;
    object-fit: cover;
  }
}

.cardHover:hover {
  transform: scale(1.05);
  border-color: #bebebe;
}

.customButton {
  font-family: 'Roboto Flex', sans-serif;
  text-transform: lowercase;
  font-weight: 500;
  font-size: 100%;
  text-transform: capitalize;
  background-color: white;
  border-radius: 2px;
  border: 1px solid #bebebe;
  color: rgb(0, 0, 0);
}

.customButton:hover {
  /* transform: scale(1.1); */
  background-color: #ede9e9;
  border: 1px solid #bebebe;
  color: rgb(0, 0, 0) !important;
}

.bottomBorderCard {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.topBorderCard {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.noBordersCard {
  border: 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: black;
}

ul {
  list-style-type: none;
}

.img-align {
  display: block;
  margin: 0 auto;
}

.introContainer {
  margin-right: -450px;
  margin-top: 210px;
  /* margin: 250px; */
}


#emaillog,
#passwordlog {
  width: 100%
}

#fname,
#lname,
#address1,
#city,
#state,
#zipcode,
#country,
#email,
#confirmemail,
#phone {
  width: 170px;
}