body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  /* padding-left: 200px !important; */
  /* width of your navbar */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bodyWrapper {
  padding-left: 210px;
}

.boxesWrapper {
  padding-left: 210px;
}

.wrapper {
  padding-left: 210px;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* .new-color {
  background-color: blue;
} */

.navbar-fixed-left {
  width: 200px;
  position: fixed;
  border-radius: 0;
  height: 100%;
  background-color: aliceblue;
  margin-right: 0px;
}

.nav-link.active {
  font-weight: bold;
}


#emaillog,
#passwordlog {
  width: 30%
}

#fname,
#lname,
#address1,
#city,
#state,
#zipcode,
#country,
#email,
#confirmemail,
#phone {
  width: 170px;
}

.navbar a:active,
.navbar a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.img-align {
  display: block;
  margin: 0 auto;
}

.col-md-6 {
  text-align: center;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: black;
}

input[type="submit"]:hover {
  color: rgb(0, 110, 255);
}